{% extends "includes/base.html" %}
{% block title %}Записи пользователя {{ author.username }}{% endblock %}
{% block header %}Записи пользователя {{ author.username }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        {% include "includes/author_info.html" %}
        <div class="col-md-9">
            {% for post in page.object_list %}            
                {% include "includes/post_info.html" %}
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
            {% include "includes/paginator.html" %}
        {% endif %}
    </div>
</main> 
{% endblock %}